<div class="conteiner">
    <div class="form">

        <mat-form-field appearance="fill">
            <mat-label>
                Datos del cliente
            </mat-label>
            <input matInput placeholder="Datos del cliente" formControl="data_client" required>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>
                Direccion
            </mat-label>
            <input matInput placeholder="Direccion" formControl="address" required>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>
                Localidad
            </mat-label>
            <input matInput placeholder="Localidad" formControl="location" required>
        </mat-form-field>
        
    </div>
</div>