
 <div class="container">
    <div class="nav">
        <ul>
            <li><a routerLink="home" routerLinkActive="active">Inicio</a></li>
            <li><a routerLink="client" routerLinkActive="active">Clientes</a></li>
            <li><a routerLink="service" routerLinkActive="active">Servicios</a></li>
            <li><a routerLink="invoices" routerLinkActive="active">Facturas</a></li>
            <li style="float: right;"><a routerLink="contact" routerLinkActive="active" >Contactanos</a></li>
        </ul>
    </div>
</div> 

